  body {
		  color: rgb(233, 233, 233);
      font-size: 13pt;
    background-color: #000000;
    font-family: Calibri, Arial, sans-serif;  

  }

  a {
    color: white;
  }

  a:hover {
    color: #1ed760;
  
  }
	address {
    margin-top: 1em;
    padding-top: 1em;
    border-top: thin dotted}

    nav a {
      color: rgb(0, 0, 0);
      font-size: 17pt;
      text-decoration: none;
      margin-right: 20px;
      font-weight: bold;
    }
    
    nav a:hover {
      text-decoration: underline;
      color: #4d4885;
      
    }

    .navbar-container {
      background-color: #1ed760; 
      padding: 10px; 
      width: 98%; 
      margin: 0 auto; 
      border-radius: 10px;
      margin-bottom: 20px;
    }
  
    .container {
      background : linear-gradient(180deg, #383647, #2c2c2c 25%);
      margin: 0 auto;
      width: 98%;
      padding: 10px;
      border-radius: 10px;    
      align-items: center;
      
    }

    p {
      padding-left: 20px;
      padding-right: 20px;
    }

    h1 {
      padding-left: 10px;
      padding-right: 10px;
    }

    h2 {
      padding-left: 10px;
      padding-right: 10px;
    }
    h4 {
      padding-left: 15px;
      padding-right: 15px;
    }

    table {
      border-collapse: collapse;
      border: 2px solid #1ed760;
      letter-spacing: 1px;
      font-size: 0.8rem;
    }
    
    td, th {
      border: 1px solid rgb(0, 0, 0);
      padding: 10px 20px;
    }
    
    th {
      background-color: #202020;
    }
    
    td {
      text-align: center;
    }
    
    tr:nth-child(even) td {
      background-color: #282733;
    }
    
    tr:nth-child(odd) td {
      background-color: #282733;
    }
  
    hr {
        border: none;
        border-top: 2px solid #1ed760;
        margin: 10px 0;
    }


    caption {
      padding: 10px;
    }
    