  body {
		  color: rgb(233, 233, 233);
      font-size: 13pt;
    background-color: #000000;
    font-family: Calibri, Arial, sans-serif;  

  }



	address {
    margin-top: 1em;
    padding-top: 1em;
    border-top: thin dotted}

    nav a {
      color: rgb(0, 0, 0);
      font-size: 17pt;
      text-decoration: none;
      margin-right: 20px;
      font-weight: bold;
    }
    
    nav a:hover {
      text-decoration: underline;
      color: #3d3969;
      
    }

    .navbar-container {
      background-color: rgb(13, 196, 13); 
      padding: 10px; 
      width: 98%; 
      margin: 0 auto; 
      border-radius: 10px;
      margin-bottom: 20px;
    }
  
    .container {
      background : linear-gradient(180deg, #282733, #202020 25%);
      margin: 0 auto;
      width: 98%;
      padding: 10px;
      border-radius: 10px;    
      align-items: center;
      
    }

    p {
      padding-left: 20px;
      padding-right: 20px;
    }

    h1 {
      padding-left: 10px;
      padding-right: 10px;
    }

    h2 {
      padding-left: 10px;
      padding-right: 10px;
    }